* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    overflow: hidden;
}
.main {
    min-height: 100vh;
    transition: filter 0ms ease-in-out 300ms;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background: #7A8B99;
}
.content > * {
    margin: 10px 0px;
}

.logIn{
    height: 95vh;
}

.form{
    height: 90vh;
    text-align: center;
    padding-top: 33vh;
    padding-bottom: 33vh;
    padding-left: 33vw;
    padding-right: 33vw;
    border-radius: 15px;
    background: #9BA0BC;
}

input{
    background: #C1B8C8;
}

.start {
    background: #C1B8C8;
    box-shadow: 0 5px #999;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    width: 60%;
    height: 10%;
}
.start:hover{
    cursor: pointer;
    background: #bfafcb;
}
.start:active{
    background-color: #bfafcb;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#open-popup {
    background: #C1B8C8;
    font-size: 25px;
    position: fixed;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    top: 50px;
    right: 50px;
}

.popup {
    position: fixed;
    top:-100%;
    left:50%;
    transform: translate(-50%,-50%);
    width:450px;
    padding:20px;
    background: #C1B8C8;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    margin-top: -25px;
    transition: top 0ms ease-in-out 300ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}

.popup > * {
    margin: 15px 0px;
}

.popup .closeButton {
    position: fixed;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

body.active-popup {
    overflow: hidden;
}

body.active-popup .main {
    filter: blur(5px);
    background: rgba(0,0,0,0.08);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup {
    top:50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}